<div class="profile-section developer-background">
	<div class="container">
		<div class="profile-box">
			<div class="profile-cover">
				<div id="cover-photo-div" class="developer-cover-photo">
				</div>
				<div class="strip">
				</div>
				<div class="section-container cover">
					<div class="developer-profile-picture">
					</div>
					<div class="col-md-5">
						<h3><strong>Company/Organization:</strong> {{ companyName }}</h3>
						<h3><strong>Developer Name:</strong> {{ fullName }}</h3>
						<h3><strong>Websites:</strong> {{ companyWebsite }}</h3>
						<h3><strong>Contact Information:</strong> {{ contactInformation }}</h3>
					</div>
					<div class="col-md-7">
						<h3><strong>Personal Biography</strong></h3>
						<p>{{ biographyInformation }}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="profile-list" ng-repeat="application in applications">
			<div class="section-container">
				<div class="profile-list-left developer-list-left">
					<h1>{{ application.application_name }}</h1>
					<h4><strong>Application Description</strong></h4>
					<p>{{ application.application_description }}</p>
					<h4><strong>Application Metrics</strong></h4>
					<p>Feature currently under construction.</p>
				</div>
				<div class="profile-list-right developer-list-right">
					<div class="profile-thumbnail">
						<img src="{{ application.application_image }}"/>
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
				</div>
			</div>
		</div>

		<div class="strip">
		</div>
	</div>
</div>