<div class="profile-section advertiser-background">
	<div class="container">
		<div class="profile-box">
			<div class="profile-cover">
				<div id="cover-photo-div" class="profile-cover-photo">
				</div>
				<div class="strip">
				</div>
				<div class="section-container cover">
					<div class="profile-picture">
					</div>
					<div class="col-md-5">
						<h3><strong>Company Name:</strong> {{ companyName }}</h3>
						<h3><strong>User's Name:</strong> {{ fullName }}</h3>
						<h3><strong>Company Website:</strong> {{ companyWebsite }}</h3>
						<h3><strong>Company Location:</strong> {{ companyLocation }}</h3>
					</div>
					<div class="col-md-7">
						<h3><strong>Company Information</strong></h3>
						<p>{{ companyInformation }}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="profile-list" ng-repeat="advertisement in advertisements">
			<div class="section-container">
				<div class="profile-list-left">
					<h1>{{ advertisement.campaign_name }}</h1>
					<h4><strong>Campaign Description</strong></h4>
					<p>{{ advertisement.campaign_description }}</p>
					<h4><strong>Target Demographics</strong></h4>
					<p>{{ advertisement.target_demographic }}</p>
				</div>
				<div class="profile-list-right">
					<div class="profile-thumbnail">
						<img src="{{ advertisement.campaign_image }}"/>
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
					<div class="profile-thumbnail">
					</div>
				</div>
				<div class="profile-list-full center">
				</div>
			</div>
		</div>

		<div class="strip">
		</div>
	</div>
</div>