<div class="proposal-section developer-background">
	<div class="container">
		<div class="proposal-whole">
			<div class="proposal-header" style="background-color:#ED1C24">
				<h1>Sent Proposals</h1>
			</div>

			<div class="proposal-list" ng-repeat="proposal in proposals">
				<div class="proposal-list-container">
					<div class="proposal-thumbnail">
						<img src="{{ proposal.image }}"/>
					</div>

					<div class="proposal-info">
						<h2><strong>{{ developer.name }}</strong></h2>
						<h3>{{ proposal.advertiser_company }}</h3>
						<h3>{{ proposal.$id }}</h3>
					</div>

					<div class="proposal-detail">
						<div class="detail-button active" style="background-color:#ED1C24">
							<h4>Description</h4>
						</div>
						<div class="detail-button">
							<h4>Metrics</h4>
						</div>
						<div class="detail-button">
							<h4>Finance</h4>
						</div>
						<div id="description" class="detail-box">
							<p>{{ proposal.app_description }}</p>
						</div>
					</div>

					<div class="proposal-status">
						<h4>Status:</h4>
						<div id="in-progress-{{ $index }}" class="status-button">
							<h4>In Progress</h4>
						</div>
						<div id="approved-{{ $index }}" class="status-button">
							<h4>Approved</h4>
						</div>
						<div id="declined-{{ $index }}" class="status-button">
							<h4>Declined</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>