<div class="segment-jumbotron">
	<div class="container">
		<div class="col-md-12">
			<div class="center">
				<img src="http://i346.photobucket.com/albums/p438/adimitui/Logo%20White%20with%20Shadow_zpszfouyzpk.png"/>
				<h3>We're here so you can display your advertisements natively on mobile applications.</h3>
				<a href="#/about">
					<h2>Learn More</h2>
				</a>

				<div class="signup-box" ng-hide="loggedIn">
					<a class="active" href="#/signup">
						<h2>Sign Up</h2>
					</a>
					<a class="active" href="#/signup">
						<h2>Log In</h2>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="segment-question">
	<div class="row">
		<div class="center">
			<h1>Getting Started</h1>
			<h2>Are you new to Adevo? Click on one of the options below to learn more!</h2>
		</div>
	</div>

	<a href="#/upload">
		<div class="one-half">
			<div class="advertiser-box">
				<div class="center">
					<div class="advertiser-developer-width">
						<h1>I am an advertiser</h1>
						<span class="glyphicon glyphicon-bullhorn glyphicon-bullhorn-color" aria-hidden="true"></span>
						<h2>I want to upload advertisements to the Subtle library for developers to implement natively into their apps to increase directed traffic toward my products.</h2>
					</div>
				</div>
			</div>
		</div>
	</a>

	<a href="#/browse">
		<div class="one-half">
			<div class="developer-box">
				<div class="center">
					<div class="advertiser-developer-width">
						<h1>I am a developer</h1>
						<span class="glyphicon glyphicon-phone glyphicon-phone-color" aria-hidden="true"></span>
						<h2>I want to select and customize advertisements to display natively in my app in order to monetize my content while maintaining user experience.</h2>
					</div>
				</div>
			</div>
		</div>
	</a>
</div> -->