<div class="upload-section">
	<div class="container">
		<div class="upload-box">
			<div class="upload-header" style="background-color:#EEBC30">
				<h1>Create an Advertisement Campaign</h1>
			</div>
			<form ng-submit="createCampaign()">
				<h5><strong>Campaign Name</strong></h5>
				<h6>What is the name you will be using to identify your ad campaign?</h6>
				<input ng-model="newCampaignName" type="text"/>
				<h5><strong>Advertisement Description</strong></h5>
				<h6>Describe the product you are promoting and the goals of the your ad campaign.</h6>
				<textarea ng-model="newCampaignDescription"></textarea>
				<h5><strong>Target Demographic</strong></h5>
				<h6>Briefly describe your target demographic.</h6>
				<input ng-model="newTargetDemographic"/>
				<h5><strong>Tags</strong></h5>
				<h6>List some keywords that describe your product.</h6>
				<input ng-model="newCampaignTags"/>
				<h5><strong>File Upload</strong></h5>
				<h6>Upload your image file. For optimal use, upload a high-definition file with a transparent background that is below 10MB.</h6>
				<input id="file-selector" type="file" file/>
				<button class="upload-button advertiser-button" type="submit">
					<h4>Create Campaign</h4>
				</button>
			</form>
		</div>
	</div>
</div>